<IfModule mod_rewrite.c>
RewriteEngine On
RedirectMatch 301 /blog/?$ http://blog.novaugust.net/
RedirectMatch 301 /blog/\d{4}/\d{2}/([\w-]*?)/?$ http://blog.novaugust.net/$1
RedirectMatch 301 /blog/tag/([\w-]*?)/?$ http://blog.novaugust.net/tag/$1
RedirectMatch 301 /blog/category/([\w-]*?)/?$ http://blog.novaugust.net/tag/$1
</IfModule>
