* {padding: 0; margin: 0;}
span, br, small {display: none;}
body {
  width: 100vw;
  height: 100vh;
  
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  
  background-size: cover;
  background-image: url(img/bg-16-2.jpg);
  background-repeat:no-repeat;
  color: rgba(255, 255, 255, .8);
  font-size:12px;
  font-family: 'Megrim', sans-serif;
}
main {
  margin: auto;
  
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  text-align: center;

  -webkit-animation: fade-in 2s;
     -moz-animation: fade-in 2s;
      -ms-animation: fade-in 2s;
       -o-animation: fade-in 2s;
          animation: fade-in 2s;
}
h1 {
  font-size: 7.5em;
}
ul {
  
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  
  flex-grow: 1;
  justify-content: space-around;
}
nav {
  margin-top: 2em;
  
  display: -ms-Flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  
  align-items: stretch;
}
li {
  transition: color .3s;
  list-style-type: none;
  float: left; width: 20%; /* For non-flexers */
}
li:hover {
 color: white;
}
a, a:active{
  color: inherit;
}
@media only screen and (min-width: 800px) and (min-height: 500px) {
  body {font-size: 16px;}
  span, br {display: initial;}
  main {
    text-align: left;
    flex-direction: row;
  }
  nav {
    order: -1;
    margin-top: 0;
  }
  .space {
    /* Get that perfect wedge shape off of "august" */
    letter-spacing: 6px
  }
  ul {
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2em 1em 1.2em 0;
    margin-right: 2.6em;
    position: relative;
  }
}
@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}
@-moz-keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}
@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}
@-ms-keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}
@-o-keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}
